<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <div class="container flex-wrap mx-auto px-2 pt-8 lg:pt-16">
        <h1 class="flex items-center font-extrabold text-white px-2 mt-12 text-4xl">
            Images
        </h1>
        <div class="py-4">
            <div class="w-full border-2 border-maingrey"></div>
        </div>
    </div>
    <div class="container flex-wrap mx-auto px-2 pt-8 lg:pt-16">
        <div class="max-w-7xl mx-auto">
            <div class="flex justify-end">
                <button type="button" data-modal-toggle="new" class="block font-bold text-lg rounded-lg border-2 w-28 px-5 py-2.5 mr-2 mb-2 text-white bg-mainorange">New</button>
            </div>
        </div>
        <div class="max-w-7xl mx-auto">
            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-lg text-left">
                            <thead class="text-white bg-mainorange">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Collectors
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <span class="sr-only">
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-maingray text-white" *ngFor="let image of images">
                                <tr class="border-b">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        {{ image.name }}
                                    </th>
                                    <td class="px-6 py-4">
                                        <span *ngFor="let collector of image.collectors">
                                            <span [routerLink]="[ '/collector', collector.id ]">{{collector.name}}</span>
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 text-right">
                                        <button type="button" (click)="deleteImage( {event:$event, id: image.id })" class="rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 text-white bg-mainorange"><fa-icon [icon]="trashIcon" class="font-bold"></fa-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    