<app-sidenav></app-sidenav>
<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <div class="container flex-wrap mx-auto px-2 pt-8 lg:pt-16">
        <h1 class="flex items-center font-extrabold text-white px-2 mt-12 text-4xl">
            Images
        </h1>
        <div class="py-4">
            <div class="w-full border-2 border-maingrey"></div>
        </div>
    </div>
    <div class="container flex-wrap mx-auto px-2 pt-8 lg:pt-16">
        <div class="max-w-7xl mx-auto">
            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-lg text-left">
                            <thead class="text-white bg-mainorange font-extrabold">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Collectors
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <span class="sr-only">
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-maingray text-white">
                                <tr class="border-b">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        ubuntu1802-telegraf
                                    </th>
                                    <td class="px-6 py-4">
                                        Telegraf
                                    </td>
                                    <td class="px-6 py-4 text-right">
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Delete</a>
                                    </td>
                                </tr>
                                <tr class="border-b">
                                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                        teste2
                                    </th>
                                    <td class="px-6 py-4">
                                        collector1, collector2
                                    </td>
                                    <td class="px-6 py-4 text-right">
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
