<app-sidenav></app-sidenav>
<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <div class="container flex-wrap mx-auto px-2 pt-8 lg:pt-16">
        <h1 class="flex items-center font-black text-white px-2 mt-12 text-4xl">
            Hosts
        </h1>
        <div class="py-4">
            <div class="w-full border-2 border-maingrey"></div>
        </div>
    </div>
    <div class="container flex-wrap mx-auto px-2 pt-8 lg:pt-16">
        <div class="max-w-7xl mx-auto">
            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-lg text-left">
                            <thead class="text-white bg-mainorange">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Hostname
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        IP Address
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-maingray text-white" *ngFor="let host of hosts">
                                <tr class="border-b">
                                    <td class="px-6 py-4">
                                        {{ host.hostname }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ host.ip }}
                                    <td class="px-6 py-4">
                                        <span *ngIf="host.state_id == 1">Active</span>
                                        <ng-template #elseBlock>Inactive</ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    