<aside class="ml-[-100%] fixed z-10 top-0 pb-3 px-6 w-full flex flex-col justify-between h-screen border-r bg-maingray transition duration-300 md:w-4/12 lg:ml-0 lg:w-[25%] xl:w-[20%] 2xl:w-[15%] text-lg">
    <div>
        <div class="mt-8 text-center">
            <img src="https://orwellmonitoring.github.io/assets/orwell23-02.png" alt="" class="w-10 h-10 m-auto object-cover lg:w-28 lg:h-28">
        </div>

        <ul class="space-y-2 tracking-wide mt-8">
            <li>
                <a routerLink="/images" routerLinkActive="text-mainorange" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group">
                    <span class="-mr-1 font-large">_ Images</span>
                </a>
            </li>
            <li>
                <a routerLink="/hosts" routerLinkActive="text-mainorange" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group">
                    <span class="group-hover:text-mainorange">_ Hosts</span>
                </a>
            </li>
            <li>
                <a routerLink="/collectors" routerLinkActive="text-mainorange" class="px-4 py-3 flex items-center space-x-4 rounded-md text-white group">
                    <span class="group-hover:text-mainorange">_ Collectors</span>
                </a>
            </li>
        </ul>
    </div>

</aside>